/* ./resources/css/app.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Delius";
    src: url("/storage/font/DeliusSwashCaps-Regular.woff") format("woff"), url("/storage/font/DeliusSwashCaps-Regular.ttf") format("ttf"), url("/storage/font/DeliusSwashCaps-Regular.otf") format("otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "ModernSans";
    src: url("/storage/font/modern_sans/ModernSans-Light.woff") format("woff"), url("/storage/font/modern_sans/ModernSans-Light.otf") format("otf"), url("/storage/font/modern_sans/ModernSans-Light.woff2") format("woff2");
    font-style: normal;
}

.fas-link {
    @apply text-center w-9 h-9 leading-9 block border-none bg-transparent cursor-pointer rounded-full transform hover:scale-110 hover:bg-green-600 hover:shadow focus:outline-none hover:text-black;
}

.fas-header {
    @apply bg-transparent text-white;
}

.list-item {
    @apply relative p-1.5 z-10 hover:no-underline hover:border-b-2 hover:border-primario-dark2;
}

.list-item__link {
    @apply text-white no-underline h-6 leading-6 px-3.5 hover:cursor-pointer outline-none;
}

.card-producto__img {
    @apply hover:opacity-90 hover:cursor-pointer outline-none;
}
.redes-sociales {
  @apply lg:hover:pr-16 hover:shadow-redes text-white no-underline p-3 flex transition-all w-9 md:w-12 lg:w-12;
}

.splide__list li:hover {
    cursor: pointer;
}

.list-item:hover>.menu-desktop__secondlevel {
    display: block;
}

.item:hover>.menu-desktop__secondlevel {
  display: block;
}


footer>div {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    place-self: start center;
}